.searchBar {
  margin 0 auto
  padding 0 13px
  width 482px
  height 44px
  box-sizing border-box
  display flex
  align-items center
  border 1px solid #dfe1e5
  border-radius 22px
}

.searchBar:hover,
.searchBarFocused {
  box-shadow 0 1px 6px 0 rgba(32, 33, 36, 0.28)
}

.magnifier {
  background url('../assets/images/magnifier.svg') no-repeat center / contain
  width 20px
  height 20px
}

.searchInput {
  margin 0 13px
  height 34px
  border-bottom 3px
  flex auto
  font 16px arial, sans-serif
  border none
  outline none
}

.mic {
  background url('../assets/images/microphone.png') no-repeat center / contain
  width 24px
  height 24px
}
